ion-toolbar.main-header {
  --border-width: 0;
  align-items: center;

  ion-title {
    font-size: 26px;
  }

  ion-icon {
    font-size: 36px;
  }
}

ion-toolbar.searcher {
  --border-width: 0;

  ion-searchbar {
    max-width: 420px;
    margin: auto;
  }
}

ion-toolbar.type-selection {
  --border-width: 0;

  ion-segment {
    width: 100%;
    max-width: 420px;

    ion-label {
      text-transform: uppercase;
    }

    ion-segment-button {
      color: var(--ion-color-dark-tint);

      &.segment-button-checked {
        color: var(--ion-color-primary);
      }
    }
  }
}

#container {
  padding: 20px 0;
  max-width: 420px;
  margin: auto;
}

ion-card {
  .header {
    --background: #f9f9f9;
  }

  .task-type {
    cursor: pointer;
  }

  ion-card-content {
    cursor: pointer;
  }

  .date {
    font-size: 13px;
    color: rgb(100, 63, 231);
    display: flex;
    align-items: center;

    .date-limit {
      display: inline-flex;
      align-items: center;
    }

    ion-icon {
      margin-right: 6px;
      font-size: 16px;
    }
  }

  .description {
    padding: 15px 0 0;
  }

  &.limit-date-advise {
    .date {
      .date-limit {
        padding: 3px 10px;
        background-color: var(--ion-color-danger);
        color: #fff;
        border-radius: 10px;
      }
    }
  }
}

.no-tasks {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
}
